<li class="key-person">
  <div class="key-person-top">
    <% if person.kp_image_saved == 'Yes' %>
      <img class="key-person-image" src="<%= asset_path "kp_profile_images/#{person.kp_image_file_name}.png" %>" alt="<%= person.kp_name %>">
    <% else %>
      <img class="key-person-image" src="<%= asset_path "kp_profile_images/kp_image_placeholder.png" %>" alt="<%= person.kp_name %>">
    <% end %>
    <div class="key-person-info">
      <h3 class="key-person-name"><%= person.kp_name %></h3>
      <p class="key-person-role"><%= person.kp_role_title %></p>
      <p class="key-person-details">Joined <%= @lic.ticker %>: <%= person.kp_year_joined %></p>
      
      <% unless person.kp_shares_owned.nil? %>
        <p class="key-person-details">Shares Owned: <%= format_shares_owned(person.kp_shares_owned) %></p>
        <p class="key-person-details">Share Value: <%= format_share_value(person.kp_share_value) %></p>
        <p class="key-person-footnote">*Share data from <%= person.year_updated %> Annual Report</p>
      <% end %>
    </div>
  </div>
  <div class="key-person-bottom" data-controller="key-person-bio">
    <div>
      <p class="key-person-bio" 
        data-key-person-bio-target="bio" 
        data-full-bio="<%= person.kp_bio_cleaned.html_safe %>" 
        data-truncated-bio="<%= truncate(person.kp_bio_cleaned.html_safe, length: 250, separator: ' ', omission: ' ...') %>">
        <%= truncate(person.kp_bio_cleaned.html_safe, length: 250, separator: ' ', omission: ' ...') %>
      </p>
    </div>
    <div>
      <button class="key-person-bio-toggle-button" data-action="key-person-bio#toggle" data-key-person-bio-target="toggleButton">+</button>
    </div>
  </div>
</li>