<!-- Dedicated stylesheet for the LICs Index table -->
<%= stylesheet_link_tag 'lics_index_table' %>

<!-- Header -->
<h1>Listed Investment Companies in Australia</h1>
<p>The table below shows the 30 largest Listed Investment Companies on the ASX.</p>

<!-- LICs Index Table -->
<%= form_tag listed_investment_companies_path, method: :get, class: "investment-focus-filter", data: { turbo_frame: "lics_index_table" } do %>
  <%= hidden_field_tag :sort_by, params[:sort_by] %>
  <%= hidden_field_tag :sort_order, params[:sort_order] %>
  <%= select_tag :investment_focus, options_for_select(@investment_focus_options, params[:investment_focus]), prompt: 'All' %>
  <%= submit_tag 'Filter', name: nil %>
<% end %>


<%= turbo_frame_tag 'lics_index_table' do %>
  <%= render partial: 'lics_index_table', locals: { lics: @lics } %>
<% end %>

