<h1>Listed Investment Companies in Australia</h1>
<p>The table below shows the top 30 Listed Investment Companies (by size) listed on the ASX.</p>

<table style="width: 100%; border-collapse: collapse; margin-bottom: 40px;">
  <thead>
    <tr style="border: 1px solid lightgrey;">
      <th style="border: 1px solid lightgrey;">Name</th>
      <th style="border: 1px solid lightgrey;">Ticker</th>
      <th style="border: 1px solid lightgrey;">Size</th>
      <th style="border: 1px solid lightgrey;">Started</th>
      <th style="border: 1px solid lightgrey;">Focus</th>
      <th style="border: 1px solid lightgrey;">Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @lics.each do |lic| %>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;"><%= link_to lic.name, listed_invested_company_path(lic), style: "text-decoration: none; color: inherit;" %></td>
        <td style="border: 1px solid lightgrey;"><%= lic.ticker %></td>
        <td style="border: 1px solid lightgrey;"><%= format_market_cap(lic.market_cap) %></td>
        <td style="border: 1px solid lightgrey;"><%= lic.listing_year %></td>
        <td style="border: 1px solid lightgrey;"><%= lic.investment_focus %></td>
        <td style="border: 1px solid lightgrey;"><%= sprintf("%.2f", lic.calculated_mer) %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
