<!-- Dedicated stylesheet for the LICs Index table -->
<%= stylesheet_link_tag 'lics_index_table' %>

<!-- Header -->
<h1>Listed Investment Companies in Australia</h1>
<p>The table below shows the top 30 Listed Investment Companies (by size) listed on the ASX.</p>


<!-- LICs Index Table -->
<table class="lics-index-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticker</th>
      <th>Size</th>
      <th>Started</th>
      <th>Focus</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @lics.each do |lic| %>
      <tr>
        <td class="lics-index-table-hover-effect">
          <%= link_to lic.name, listed_investment_company_path(lic), class: "lics-index-table-link" %>
        </td>
        <td class="center"><%= lic.ticker %></td>
        <td class="center"><%= format_market_cap(lic.market_cap) %></td>
        <td class="center"><%= lic.listing_year %></td>
        <td><%= lic.investment_focus %></td>
        <td class="center"><%= sprintf("%.2f", lic.calculated_mer) %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
