<!-- Dedicated stylesheet for the LICs Index table -->
<%= stylesheet_link_tag 'lics_index_table' %>

<!-- Header -->
<h1>Listed Investment Companies in Australia</h1>
<p>The table below shows the top 30 Listed Investment Companies (by size) listed on the ASX.</p>


<!-- LICs Index Table -->
<table class="lics-index-table">
  <thead>
    <tr>
      <% {
        'name' => 'Name',
        'ticker' => 'Ticker',
        'market_cap' => 'Size',
        'listing_year' => 'Listed',
        'investment_focus' => 'Investment Focus',
        'calculated_mer' => 'Cost'
      }.each do |db_column, display_name| %>
        <% sort_order = (params[:sort_by] == db_column && params[:sort_order] == 'asc') ? 'desc' : 'asc' %>
        <th><%= link_to display_name, listed_investment_companies_path(sort_by: db_column, sort_order: sort_order) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @lics.each do |lic| %>
      <tr>
        <td class="lics-index-table-hover-effect">
          <%= link_to lic.name, listed_investment_company_path(lic), class: "lics-index-table-link" %>
        </td>
        <td class="center"><%= lic.ticker %></td>
        <td class="center"><%= format_market_cap(lic.market_cap) %></td>
        <td class="center"><%= lic.listing_year %></td>
        <td><%= lic.investment_focus %></td>
        <td class="center"><%= sprintf("%.2f", lic.calculated_mer) %> %</td>
      </tr>
    <% end %>
  </tbody>
</table>
