<!-- Dedicated stylesheet for this Show template -->
<%= stylesheet_link_tag 'lics_show_page' %>

<!-- SEO details -->
<% content_for :title do %>
  <%= @lic.name %> (<%= @lic.ticker %>) | Listed Landscape
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated!] <%= @lic.name %> (ASX: <%= @lic.ticker %>). Performance, Portfolio Holdings, Dividend History, Profit Reserves, Fees, and more...
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Listed Landscape
<% end %>


<!-- Lic logo  -->
<%= image_tag "lic_logos/#{@lic.logo_filename}.png", alt: "#{@lic.name} Logo", class: "lic-logo" %>


<!-- Page Heading -->
<h1><%= @lic.name %></h1>


<!-- Overview -->
<section>
  <h2>Overview</h2>
  <table style="width: 100%; border-collapse: collapse; margin-bottom: 40px;">
    <tbody>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey; width: 30%;">Name:</td>
        <td style="border: 1px solid lightgrey;"><%= @lic.name %></td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">ASX Ticker:</td>
        <td style="border: 1px solid lightgrey;"><%= @lic.ticker %></td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">Inception Year:</td>
        <td style="border: 1px solid lightgrey;"><%= @lic.listing_year %> (<%= @lic.yrs_operating %> years operating)</td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">Size (Market Cap):</td>
        <td style="border: 1px solid lightgrey;"><%= format_market_cap(@lic.market_cap) %></td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">Investment Focus:</td>
        <td style="border: 1px solid lightgrey;"><%= @lic.investment_focus %></td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">Portfolio Bias:</td>
        <td style="border: 1px solid lightgrey;"><%= @lic.portfolio_bias %></td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">Benchmark:</td>
        <td style="border: 1px solid lightgrey;"><%= @lic.benchmark %></td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">Management Structure:</td>
        <td style="border: 1px solid lightgrey;"><%= @lic.management_structure %></td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">Investment Manager:</td>
        <td style="border: 1px solid lightgrey;"><%= @lic.investment_manager %></td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">Management Fee Structure:</td>
        <td style="border: 1px solid lightgrey;"><%= @lic.management_fee %></td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">Performance Fee Structure:</td>
        <td style="border: 1px solid lightgrey;"><%= @lic.performance_fee %></td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">LL Calculated Cost (excl. Perf. Fees):</td>
        <td style="border: 1px solid lightgrey;"><%= sprintf("%.2f", @lic.calculated_mer) %>% (FY23)</td>
      </tr>
      <tr style="border: 1px solid lightgrey;">
        <td style="border: 1px solid lightgrey;">Objective:</td>
        <td style="border: 1px solid lightgrey;"><%= @lic.objective %></td>
      </tr>
    </tbody>
  </table>
</section>


<!-- Shareholders & Portfolio Size -->
<section>
  <h2>Shareholders & Portfolio Size</h2>

    <h3>Number of Shareholders</h3>
    <%= column_chart @lic.chart_number_shareholders %>

    <h3>Number of Shareholders</h3>

</section>


<!-- Key Personnel -->
<section>
  <h2>Key Personnel</h2>

</section>


<!-- Share Price vs NTA -->
<section>
  <h2>Share Price vs NTA</h2>

    <h3>Share Price vs NTA with Averages</h3>


</section>



