<!-- SEO details -->
<% content_for :title do %>
  <%= @lic.name %> (<%= @lic.ticker %>) | Listed Landscape
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated!] <%= @lic.name %> (ASX: <%= @lic.ticker %>). Performance, Portfolio Holdings, Dividend History, Profit Reserves, Fees, and more...
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Listed Landscape
<% end %>


<!-- Page Header -->
<div class="page-header">
  <div class="page-header-content">
    <div class="page-header-logo">
      <%= image_tag "lic_logos/#{@lic.logo_filename}.png", alt: "#{@lic.name} Logo", class: "page-logo mobile-hide" %>
    </div>
    <div class="page-header-title">
      <h1><%= @lic.name %></h1>
    </div>
  </div>
</div>

<!-- Hover Menu -->
<%= render partial: 'lics/show_page_menu' %>

<!-- Overview -->
<section>
  <h2 id="overview">Overview</h2>
  <div class="overview">
    <table>
      <tbody>
        <tr>
          <td class="label">LIC Name</td>
          <td class="value"><%= @lic.name %></td>
        </tr>
        <tr>
          <td class="label">ASX Ticker</td>
          <td class="value"><%= @lic.ticker %></td>
        </tr>
        <tr>
          <td class="label">Listing Year</td>
          <td class="value"><%= @lic.listing_year %> (<%= @lic.yrs_operating %> years operating)</td>
        </tr>
        <tr>
          <td class="label">Size (Market Cap)</td>
          <td class="value"><%= format_market_cap(@lic.market_cap) %></td>
        </tr>
        <tr>
          <td class="label">Investment Focus</td>
          <td class="value"><%= @lic.investment_focus %></td>
        </tr>
        <tr>
          <td class="label">Portfolio Bias</td>
          <td class="value"><%= @lic.portfolio_bias %></td>
        </tr>
        <tr>
          <td class="label">Benchmark</td>
          <td class="value"><%= @lic.benchmark %></td>
        </tr>
        <tr>
          <td class="label">Management Structure</td>
          <td class="value"><%= @lic.management_structure %></td>
        </tr>
        <tr>
          <td class="label">Investment Manager</td>
          <td class="value"><%= @lic.investment_manager %></td>
        </tr>
        <tr>
          <td class="label">Management Fee Structure</td>
          <td class="value"><%= @lic.management_fee %></td>
        </tr>
        <tr>
          <td class="label">Performance Fee Structure</td>
          <td class="value"><%= @lic.performance_fee %></td>
        </tr>
        <tr>
          <td class="label">Calculated Cost (FY23)</td>
          <td class="value">
            <%= sprintf("%.2f", @lic.calculated_mer) %>%
            <% if @device_type == 'mobile' %>
              <br>
            <% end %>
            (excluding Performance Fees)
          </td>
        </tr>
        <!-- <tr>
          <td class="label">Annual Reports</td>
          <td class="value"><%= @lic.annual_report_links %></td>
        </tr> -->
        <tr class="mobile-hide last-row">
          <td class="label">Objective</td>
          <td class="value"><%= @lic.objective.gsub('<br>', '<br><br>').html_safe %></td>
        </tr>
        <tr class="desktop-hide last-row">
          <td class="label">Objective</td>
        </tr>
        <tr class="desktop-hide last-row">
          <td colspan="2" class="value"><%= @lic.objective.gsub('<br>', '<br><br>').html_safe %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- Separator -->
<%= render partial: 'show_page_separator' %>

<!-- Key People  -->
<section>
  <h2 id="key-personnel">Key Personnel</h2>

  <h3>Board Members</h3>
  <div class="key-people-section">
    <div class="key-people-container">
      <ul class="key-people-list">
        <% @lic.key_people_directors.each do |person| %>
          <%= render partial: 'lics/key_people', locals: { person: person, ticker: @lic.ticker } %>
        <% end %>
      </ul>
    </div>
  </div>

  <% if @lic.key_people_investment_managers.any? %>
    <h3>Investment Management</h3>
      <div class="key-people-section">
        <div class="key-people-container">
          <ul class="key-people-list">
            <% @lic.key_people_investment_managers.each do |person| %>
              <%= render partial: 'lics/key_people', locals: { person: person, ticker: @lic.ticker } %>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>  
</section>

<!-- Separator -->
<%= render partial: 'show_page_separator' %>

<!-- Shareholders & Portfolio Size -->
<section>
  <h2 id="shareholders-size">Shareholders & Portfolio Size</h2>

    <h3>Number of Shareholders</h3>
    <div class="chart-style-template">
      <%= line_chart @lic.chart_number_shareholders, **number_shareholders_chart_styling %> 
    </div>

    <h3>Size (Net Assets)</h3>
    <div class="chart-style-template">
      <% if @lic.max_size > 1_000_000_000 %>
        <%= line_chart @lic.chart_size_net_assets_b, **size_net_assets_b_chart_styling %>
      <% else %>
        <%= line_chart @lic.chart_size_net_assets_m, **size_net_assets_m_chart_styling %>
      <% end %>
    </div>
</section>

<!-- Separator -->
<%= render partial: 'show_page_separator' %>

<!-- Performance -->
<section>
  <h2 id="performance">Long Term Performance</h2>
    
    <h3>5yr Performance</h3>
      <div class="chart-style-template">
        <%= line_chart @performance_chart_data_5yrs, **performance_chart_styling %>
      </div>

    <h3>10yr Performance</h3>
      <div class="chart-style-template">
        <%= line_chart @performance_chart_data_10yrs, **performance_chart_styling %>
      </div>

</section>


<!-- Separator -->
<%= render partial: 'show_page_separator' %>

<!-- Dividends -->
<section>
  <h2 id="dividends">Dividends</h2>

    <h3>Dividend History</h3>

      <!-- Filtering the Dividend History chart -->
      <%= form_tag listed_investment_company_path(id: @lic.slug), method: :get, data: { turbo_frame: "dividend_history" }, id: "chart-filter-options" do %>

        <div class="chart-filter-option">
          <label for="dividend_history_view" class="chart-filter-label">Dividend History View:</label>
            <%= select_tag "dividend_history_view", options_for_select([
                ["Total Annual Cash Dividends", "annualised"],
                ["Total including Franking Credits", "franking"],
                ["Show Dividend Types", "split"]
                ],
                selected: "annualised"
                ), 
                class: "chart-filter-select",
                data: { turbo_frame: "dividend_history" }
            %>
        </div>

        <%= button_tag "Update Chart", class: "chart-button", data: { turbo_frame: "dividend_history" } %>

    <% end %>

    <%= turbo_frame_tag "dividend_history" do %>
      <%= render partial: "lics/chart_dividend_history_#{@dividend_history_view_type}" %>
    <% end %>

    <h3>Corresponding Dividend Yields</h3>
      <div class="chart-style-template">
        <%= line_chart @lic.chart_dividend_yield, **dividend_yield_chart_styling %>
      </div>

</section>

<!-- Separator -->
<%= render partial: 'show_page_separator' %>

<!-- Share Price vs NTA -->
<section>
  <h2 id="share-price-nta">Share Price vs NTA</h2>

    <%= turbo_frame_tag "chart_share_price_vs_nta" do %>
      <%= render partial: "lics/chart_share_price_vs_nta", locals: { lic: @lic, selected_time_duration: @selected_time_duration, selected_tax_type: @selected_tax_type } %>
  <% end %>

</section>

<!-- Separator -->
<%= render partial: 'show_page_separator' %>

<!-- Common Questions -->
<%= render partial: 'common_questions' %>

<!-- Back to top button -->
<%= render partial: 'layouts/back_to_top_button' %>



