<!-- SEO details -->
<% content_for :title do %>
  <%= @lic.name %> (ASX:<%= @lic.ticker %>) | Listed Landscape
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated] <%= @lic.name %> (ASX: <%= @lic.ticker %>). Performance, Portfolio Holdings, Dividend History, Profit Reserves, Fees, and more...
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Listed Landscape
<% end %>


<!-- Page Header -->
<div class="page-header">
  <div class="page-header-content">
    <div class="page-header-logo">
      <% lic_logo_url = "https://storage.googleapis.com/listed-landscape-app-storage/lic-logos/#{@lic.logo_filename}.png" %>
      <%= image_tag lic_logo_url, alt: "#{@lic.name} Logo", class: "page-logo mobile-hide" %>
    </div>
    <div class="page-header-title">
      <h1><%= @lic.name %></h1>
    </div>
  </div>
</div>

<!-- Hover Menu -->
<%= render partial: 'lics/show_page_menu' %>

<!-- Overview -->
<section>
  <h2 id="overview">Overview</h2>
  <div class="overview">
    <table>
      <tbody>
        <tr>
          <td class="label">LIC Name</td>
          <td class="value"><%= @lic.name %></td>
        </tr>
        <tr>
          <td class="label">ASX Ticker</td>
          <td class="value"><%= @lic.ticker %></td>
        </tr>
        <tr>
          <td class="label">Listing Year</td>
          <td class="value"><%= @lic.listing_year %> (<%= @lic.yrs_operating %> years operating)</td>
        </tr>
        <tr>
          <td class="label">Size (Market Cap)</td>
          <td class="value"><%= format_market_cap(@lic.market_cap) %></td>
        </tr>
        <tr>
          <td class="label">Investment Focus</td>
          <td class="value"><%= @lic.investment_focus %></td>
        </tr>
        <tr>
          <td class="label">Portfolio Bias</td>
          <td class="value"><%= @lic.portfolio_bias %></td>
        </tr>
        <tr>
          <td class="label">Benchmark</td>
          <td class="value"><%= @lic.benchmark %></td>
        </tr>
        <tr>
          <td class="label">Management Structure</td>
          <td class="value"><%= @lic.management_structure %></td>
        </tr>
        <tr>
          <td class="label">Investment Manager</td>
          <td class="value"><%= @lic.investment_manager %></td>
        </tr>
        <tr>
          <td class="label">Management Fee Structure</td>
          <td class="value"><%= @lic.management_fee %></td>
        </tr>
        <tr>
          <td class="label">Performance Fee Structure</td>
          <td class="value"><%= @lic.performance_fee %></td>
        </tr>
        <tr>
          <td class="label">Cost Indicator (FY23)</td>
          <td class="value">
            <%= sprintf("%.2f", @lic.calculated_mer) %>%
            <% if @device_type == 'mobile' %>
              <br>
            <% end %>
            <% unless @lic.performance_fee == 'No Performance Fee' %>
              (excluding Performance Fees)
            <% end %>
          </td>
        </tr>
        <tr class="mobile-hide">
          <td class="label">Objective</td>
          <td class="value"><%= @lic.objective.gsub('<br>', '<br><br>').html_safe %></td>
        </tr>
        <tr class="desktop-hide last-row">
          <td class="label">Objective</td>
        </tr>
        <tr class="desktop-hide">
          <td colspan="2" class="value"><%= @lic.objective.gsub('<br>', '<br><br>').html_safe %></td>
        </tr>
        <tr class="last-row">
          <td class="label"><% if @device_type == 'desktop' %>Recent <% end %>Annual Reports</td>
          <td class="value"><%= @lic.annual_report_links %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- Separator -->
<%= render partial: 'shared/show_page_separator' %>

<!-- Key People  -->
<section>
  <h2 id="key-personnel">Key Personnel</h2>

  <h3>Board Members</h3>
  <div class="key-people-section">
    <div class="key-people-container">
      <ul class="key-people-list">
        <% @lic.key_people_directors.each do |person| %>
          <%= render partial: 'lics/key_people', locals: { person: person, ticker: @lic.ticker } %>
        <% end %>
      </ul>
    </div>
  </div>

  <% if @lic.key_people_investment_managers.any? %>
    <h3>Investment Management</h3>
      <div class="key-people-section">
        <div class="key-people-container">
          <ul class="key-people-list">
            <% @lic.key_people_investment_managers.each do |person| %>
              <%= render partial: 'lics/key_people', locals: { person: person, ticker: @lic.ticker } %>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>  
</section>

<!-- Separator -->
<%= render partial: 'shared/show_page_separator' %>

<!-- Shareholders & Portfolio Size -->
<section>
  <h2 id="shareholders-size">Shareholders & Portfolio Size</h2>

    <h3>Number of Shareholders</h3>
    <div class="chart-style-template">
      <%= line_chart @lic.chart_number_shareholders, **number_shareholders_chart_styling %> 
    </div>

    <h3>Portfolio Size</h3>
    <div class="chart-style-template">
      <% if @lic.max_size > 1_000_000_000 %>
        <%= line_chart @lic.chart_size_net_assets_b, **size_net_assets_b_chart_styling %>
      <% else %>
        <%= line_chart @lic.chart_size_net_assets_m, **size_net_assets_m_chart_styling %>
      <% end %>
    </div>
</section>

<!-- Separator -->
<%= render partial: 'shared/show_page_separator' %>

<!-- Performance -->
<section>
  <h2 id="performance">Performance</h2>

    <h3>Historical Performance</h3>
      <%= render partial: "shared/performance_table", locals: { lic: @lic } %>

    <h3>Chart of Historical Performance</h3>
      <%= turbo_frame_tag "chart_performance" do %>    
        <%= render partial: "shared/chart_performance", locals: { lic: @lic, performance_chart_time_frame_selected: @performance_chart_time_frame_selected } %>
      <% end %>

</section>

<!-- Separator -->
<%= render partial: 'shared/show_page_separator' %>

<!-- Dividends -->
<section>
  <h2 id="dividends">Dividends</h2>

    <h3>Dividend History</h3>
      <%= turbo_frame_tag "dividend_payments_table" do %>
        <%= render partial: "shared/dividend_payments_table_#{@dividend_payments_view_type}", locals: { lic: @lic } %>
      <% end %>

    <h3>Chart of Dividend History</h3>
      <!-- Filtering the Dividend History Chart -->
      <%= render partial: "shared/chart_dividend_history_form" %>

      <!-- Rendering the Dividend History Chart -->
      <%= turbo_frame_tag "dividend_history" do %>
        <%= render partial: "shared/chart_dividend_history_#{@dividend_history_view_type}" %>
      <% end %>

    <h3>Corresponding Dividend Yields</h3>
      <div class="chart-style-template">
        <%= line_chart @lic.chart_dividend_yield, **dividend_yield_chart_styling %>
      </div>
    
    <h3>Dividend Comparison</h3>
      <div class="chart-style-template">
        <%= column_chart @lic.chart_dividend_comparison, **dividend_comparison_chart_styling %>
      </div>

</section>

<!-- Separator -->
<%= render partial: 'shared/show_page_separator' %>

<!-- Costs -->
<section>
  <h2 id="costs">Costs</h2>

    <h3>Cost Indicator (%)</h3>
      <!-- Filtering the Cost Indicator Chart -->
      <%= render partial: "shared/chart_cost_indicator_form" %>

      <!-- Rendering the Cost Indicator Chart -->
      <%= turbo_frame_tag "cost_indicator" do %>
        <%= render partial: "shared/chart_cost_indicator_#{@cost_indicator_view_type}" %>
      <% end %>

    <h3>Actual Costs</h3>
      <!-- Filtering the Costs Incurred Chart -->
      <%= render partial: "shared/chart_costs_incurred_form" %>

      <!-- Rendering the Costs Incurred Chart -->
      <%= turbo_frame_tag "costs_incurred" do %>
        <%= render partial: "shared/chart_costs_incurred_#{@costs_incurred_view_type}" %>
      <% end %>

</section>

<!-- Separator -->
<%= render partial: 'shared/show_page_separator' %>

<!-- Share Price vs NTA -->
<section>
  <h2 id="share-price-nta">Share Price vs NTA</h2>

    <%= turbo_frame_tag "chart_share_price_vs_nta" do %>
      <%= render partial: "shared/chart_share_price_vs_nta", locals: { lic: @lic, selected_time_duration: @selected_time_duration, selected_tax_type: @selected_tax_type } %>
    <% end %>

</section>

<!-- Separator -->
<%= render partial: 'shared/show_page_separator' %>

<!-- Show Page Common Questions -->
<%= render partial: 'show_page_common_questions' %>

<!-- Back to top button -->
<%= render partial: 'layouts/back_to_top_button' %>



