<!-- Dedicated stylesheet for this Show template -->
<%= stylesheet_link_tag 'lics_show_page' %>

<!-- SEO details -->
<% content_for :title do %>
  <%= @lic.name %> (<%= @lic.ticker %>) | Listed Landscape
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated!] <%= @lic.name %> (ASX: <%= @lic.ticker %>). Performance, Portfolio Holdings, Dividend History, Profit Reserves, Fees, and more...
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Listed Landscape
<% end %>


<!-- Page Header -->
<div class="page-header">
  <div class="page-header-content">
    <div class="page-header-logo">
      <%= image_tag "lic_logos/#{@lic.logo_filename}.png", alt: "#{@lic.name} Logo", class: "page-logo" %>
    </div>
    <div class="page-header-info">
      <span class="page-header-lic-name"><%= @lic.name %> (<%= @lic.ticker %>)</span>
    </div>
  </div>
</div>

<!-- Overview -->
<section>
  <h2>Overview</h2>

  <div class="overview-section">
    <table>
      <tbody>
        <tr>
          <td class="label">LIC Name:</td>
          <td class="value"><%= @lic.name %></td>
        </tr>
        <tr>
          <td class="label">ASX Ticker:</td>
          <td class="value"><%= @lic.ticker %></td>
        </tr>
        <tr>
          <td class="label">Listing Year:</td>
          <td class="value"><%= @lic.listing_year %> (<%= @lic.yrs_operating %> years operating)</td>
        </tr>
        <tr>
          <td class="label">Size (Market Cap):</td>
          <td class="value"><%= format_market_cap(@lic.market_cap) %></td>
        </tr>
        <tr>
          <td class="label">Investment Focus:</td>
          <td class="value"><%= @lic.investment_focus %></td>
        </tr>
        <tr>
          <td class="label">Portfolio Bias:</td>
          <td class="value"><%= @lic.portfolio_bias %></td>
        </tr>
        <tr>
          <td class="label">Benchmark:</td>
          <td class="value"><%= @lic.benchmark %></td>
        </tr>
        <tr>
          <td class="label">Management Structure:</td>
          <td class="value"><%= @lic.management_structure %></td>
        </tr>
        <tr>
          <td class="label">Investment Manager:</td>
          <td class="value"><%= @lic.investment_manager %></td>
        </tr>
        <tr>
          <td class="label">Management Fee Structure:</td>
          <td class="value"><%= @lic.management_fee %></td>
        </tr>
        <tr>
          <td class="label">Performance Fee Structure:</td>
          <td class="value"><%= @lic.performance_fee %></td>
        </tr>
        <tr>
          <td class="label">Calculated Cost (excl. Perf. Fees):</td>
          <td class="value"><%= sprintf("%.2f", @lic.calculated_mer) %>% (FY23)</td>
        </tr>
        <tr>
          <td class="label">Objective:</td>
          <td class="value"><%= @lic.objective %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- Separator -->
<%= render partial: 'show_page_separator' %>

<!-- Key Personnel  -->
<section>
  <h2>Key Personnel</h2>
    
    <h3 >Board Members</h3>
    <div class="key-people">
      <div class="container">
        <ul class="key-people-list">
          <% @lic.key_people_directors.each do |person| %>
          <li class="key-person">
            <div class="key-person-top">
              <% if person.kp_image_saved == 'Yes' %>
                <img class="key-person-image" src="<%= asset_path "kp_profile_images/#{person.kp_image_file_name}" %>" alt="<%= person.kp_name %>">
              <% else %>
                <img class="key-person-image" src="<%= asset_path "kp_profile_images/kp_image_placeholder" %>" alt="<%= person.kp_name %>">
              <% end %>
              <div class="key-person-info">
                <h3 class="key-person-name"><%= person.kp_name %></h3>
                <p class="key-person-role"><%= person.kp_role_title %></p>
                <p class="key-person-details">Joined <%= @lic.ticker %>: <%= person.kp_year_joined %></p>
                <p class="key-person-details">Shares Owned: <%= format_shares_owned(person.kp_shares_owned) %></p>
                <p class="key-person-details">Share Value: <%= format_share_value(person.kp_share_value) %></p>
                <p class="key-person-footnote">*Share data from <%= person.year_updated %> Annual Report</p>
              </div>
            </div>
            <div class="key-person-bottom">
              <p class="key-person-bio"><%= person.kp_bio.gsub("\n", "<br>").html_safe %></p>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <h3>Investment Management</h3>
      <div class="key-people">
        <div class="container">
          <ul class="key-people-list">
            <% @lic.key_people_investment_managers.each do |person| %>
            <li class="key-person">
              <div class="key-person-top">
                <% if person.kp_image_saved == 'Yes' %>
                  <img class="key-person-image" src="<%= asset_path "kp_profile_images/#{person.kp_image_file_name}" %>" alt="<%= person.kp_name %>">
                <% else %>
                  <img class="key-person-image" src="<%= asset_path "kp_profile_images/kp_image_placeholder" %>" alt="<%= person.kp_name %>">
                <% end %>
                <div class="key-person-info">
                  <h3 class="key-person-name"><%= person.kp_name %></h3>
                  <p class="key-person-role"><%= person.kp_role_title %></p>
                  <p class="key-person-details">Joined <%= @lic.ticker %>: <%= person.kp_year_joined %></p>
                  
                  <% unless person.kp_shares_owned.nil? %>
                    <p class="key-person-details">Shares Owned: <%= format_shares_owned(person.kp_shares_owned) %></p>
                    <p class="key-person-details">Share Value: <%= format_share_value(person.kp_share_value) %></p>
                    <p class="key-person-footnote">*Share data from <%= person.year_updated %> Annual Report</p>
                  <% end %>
                </div>
              </div>
              <div class="key-person-bottom">
                <p class="key-person-bio"><%= person.kp_bio.gsub("\n", "<br>").html_safe %></p>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
</section>

<!-- Separator -->
<%= render partial: 'show_page_separator' %>

<!-- Shareholders & Portfolio Size -->
<section>
  <h2>Shareholders & Portfolio Size</h2>

    <h3>Number of Shareholders</h3>
    <%= column_chart @lic.chart_number_shareholders, height: "400px", thousands: ",", colors: ["#d4541b"] %>

    <h3>Size (Net Assets)</h3>
    <%= column_chart @lic.chart_size_net_assets, height: "400px", prefix: "$", thousands: ",", colors: ["#d4541b"] %>
</section>

<!-- Separator -->
<%= render partial: 'show_page_separator' %>

<!-- Share Price vs NTA -->
<section>
  <h2>Share Price vs NTA</h2>

    <h3>Share Price vs Pre-Tax NTA</h3>
    <p>
      Latest month (<%= @lic.share_price_vs_nta_latest_month %>): <%= @lic.share_price_vs_pre_tax_nta_latest_value.round(1).to_s %>% | 
      Last 12 months: <%= @lic.share_price_vs_pre_tax_nta_average_1yr.round(1).to_s %>% | 
      Last 3 years: <%= @lic.share_price_vs_pre_tax_nta_average_3yrs.round(1).to_s %>% |
      Last 10 years: <%= @lic.share_price_vs_pre_tax_nta_average_10yrs.round(1).to_s %>%
    </p>
    <%= column_chart @lic.chart_share_price_vs_pre_tax_nta, height: "400px", suffix: "%", colors: ["#d4541b"], library: {
      chart: {
        marginRight: 100
      },
      yAxis: { plotLines: [ 
        { 
          color: '#005454', 
          width: 2, 
          value: @lic.share_price_vs_pre_tax_nta_average_10yrs,
          dashStyle: 'solid',
          label: {
            text: "10yr Avg: #{@lic.share_price_vs_pre_tax_nta_average_10yrs.round(1).to_s}%",
            align: 'right',
            y: 0,
            x: 100
          }
        },
      ] }
    } %>

    <h3>Share Price vs Post-Tax NTA</h3>
    <p>
      Latest month (<%= @lic.share_price_vs_nta_latest_month %>): <%= @lic.share_price_vs_post_tax_nta_latest_value.round(1).to_s %>% | 
      Last 12 months: <%= @lic.share_price_vs_post_tax_nta_average_1yr.round(1).to_s %>% |
      Last 3 years: <%= @lic.share_price_vs_post_tax_nta_average_3yrs.round(1).to_s %>% |
      Last 10 years: <%= @lic.share_price_vs_post_tax_nta_average_10yrs.round(1).to_s %>%
    </p>
    <%= column_chart @lic.chart_share_price_vs_post_tax_nta, height: "400px", suffix: "%", colors: ["#d4541b"], library: {
      chart: {
        marginRight: 100
      },
      yAxis: { plotLines: [ 
        { 
          color: '#005454', 
          width: 2, 
          value: @lic.share_price_vs_post_tax_nta_average_10yrs,
          dashStyle: 'solid',
          label: {
            text: "10yr Avg: #{@lic.share_price_vs_post_tax_nta_average_10yrs.round(1).to_s}%",
            align: 'right',
            y: 0,
            x: 100
          }
        },
      ] }
    } %>
</section>

<!-- Separator -->
<%= render partial: 'show_page_separator' %>



