<table class="sp-vs-nta-index-table">
  <thead>
    <tr>
      <th colspan="3" style="border: none;"></th>
      <th colspan="3">Pre-Tax NTA</th>
      <th colspan="3">Post-Tax NTA</th>
    <tr>
      <th class="sp-vs-nta-index-table-lic-name-column">Name</th>
      <th>Size</th>
      <th>Updated</th>
      <th>SP v NTA</th>
      <th>3yr Avg</th>
      <th>10yr Avg</th>
      <th>SP v NTA</th>
      <th>3yr Avg</th>
      <th>10yr Avg</th>
    </tr>
  </thead>
  <tbody>
    <% lics.each do |lic| %>
      <tr>
        <td class="sp-vs-nta-index-table-lic-name-column">
          <% if @device_type == 'desktop' %>
            <%= link_to truncate(lic.name, length: 45), "#{listed_investment_company_path(lic)}#share-price-nta", class: "sp-vs-nta-index-table-lic-name", target: "_blank" %>
          <% else %>
            <%= link_to truncate(lic.name, length: 30), "#{listed_investment_company_path(lic)}#share-price-nta", class: "sp-vs-nta-index-table-lic-name", target: "_blank" %>
          <% end %>
        </td>
        <td class="center"><%= format_market_cap(lic.market_cap) %></td>
        <td class="center"><%= lic.sp_vs_nta_latest_record[:month_year].strftime("%b-%y") %></td>
        <td class="center"><%= "#{lic.sp_vs_nta_latest_record[:sp_vs_pre_tax_nta].round}%" %></td>
        <td class="center"><%= "#{lic.sp_vs_pre_tax_nta_averages(3, :sp_vs_pre_tax_nta)}%" %></td>
        <td class="center"><%= "#{lic.sp_vs_pre_tax_nta_averages(10, :sp_vs_pre_tax_nta)}%" %></td>
        <td class="center"><%= "#{lic.sp_vs_nta_latest_record[:sp_vs_post_tax_nta].round}%" %></td>
        <td class="center"><%= "#{lic.sp_vs_pre_tax_nta_averages(3, :sp_vs_post_tax_nta)}%" %></td>
        <td class="center"><%= "#{lic.sp_vs_pre_tax_nta_averages(10, :sp_vs_post_tax_nta)}%" %></td>
      </tr>
    <% end %>
  </tbody>
</table>