<!-- SEO details -->
<% content_for :title do %>
  Share Prices vs NTA's | Australian LICs
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated!] Share Price vs Net Tangible Assets (NTAs) for Australian Listed Investment Companies (LICs). Listed Landscape.
<% end %>

<% content_for :keywords do %>
  Listed Investment Companies, LICs, NTA, Listed Landscape
<% end %>


<!-- Page Header -->
<div class="sp-vs-nta-index-page-header">
    <h1>Share Prices vs NTA's</h1>
</div>
<div class="sp-vs-nta-index-page-details">
    <p>Share Prices vs Net Tangible Assets (NTA's) for the 30 largest LICs listed on the ASX.</p>
    <p>Click the LIC Name to view a historical chart of this metric.
</div>

<!-- Share Price vs NTA's table filter -->


<!-- Share Price vs NTA's Index table -->
<table class="sp-vs-nta-index-table">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th colspan="3">Pre-Tax</th>
      <th colspan="3">Post-Tax</th>
    <tr>
      <th>Name</th>
      <th>Updated</th>
      <th>Prem/ Disc</th>
      <th>3yr Avg</th>
      <th>10yr Avg</th>
      <th>Prem/ Disc</th>
      <th>3yr Avg</th>
      <th>10yr Avg</th>
    </tr>
  </thead>
  <tbody>
    <% @lics.each do |lic| %>
      <tr>
        <td class="sp-vs-nta-index-table-hover-effect">
          <% if @device_type == 'desktop' %>
            <%= link_to truncate(lic.name, length: 45), "#{listed_investment_company_path(lic)}#share-price-nta", class: "sp-vs-nta-index-table-lic-name", target: "_blank" %>
          <% else %>
            <%= link_to truncate(lic.name, length: 35), "#{listed_investment_company_path(lic)}#share-price-nta", class: "sp-vs-nta-index-table-lic-name", target: "_blank" %>
          <% end %>
        </td>
        <td class="center"><%= lic.sp_vs_nta_latest_record[:month_year].strftime("%b-%y") %></td>
        <td class="center"><%= "#{lic.sp_vs_nta_latest_record[:sp_vs_pre_tax_nta].round}%" %></td>
        <td class="center"><%= "#{lic.sp_vs_pre_tax_nta_averages(3, :sp_vs_pre_tax_nta)}%" %></td>
        <td class="center"><%= "#{lic.sp_vs_pre_tax_nta_averages(10, :sp_vs_pre_tax_nta)}%" %></td>
        <td class="center"><%= "#{lic.sp_vs_nta_latest_record[:sp_vs_post_tax_nta].round}%" %></td>
        <td class="center"><%= "#{lic.sp_vs_pre_tax_nta_averages(3, :sp_vs_post_tax_nta)}%" %></td>
        <td class="center"><%= "#{lic.sp_vs_pre_tax_nta_averages(10, :sp_vs_post_tax_nta)}%" %></td>
      </tr>
    <% end %>
  </tbody>
</table>