<!-- SEO details -->
<% content_for :title do %>
  Dividend History | <%= @lic.name %> (ASX:<%= @lic.ticker %>)
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated] Dividend History (and corresponding yields) for <%= @lic.name %> (ASX: <%= @lic.ticker %>).
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Dividend History, Dividend Yield
<% end %>

<!-- Back to Lic Show Page Button -->
<%= render partial: "shared/l3_seo_page_back_button" %>

<!-- Page Header -->
<div class="seo-pages-header">
  <h1><%= @lic.ticker %> - Dividend History</h1>
</div>
<div class="seo-pages-page-details">
  <p>Dividend History information for <%= @lic.name %> (ASX: <%= @lic.ticker %>)</p>
</div>

<h3>Dividend History</h3>
<%= turbo_frame_tag "dividend_payments_table" do %>
  <%= render partial: "shared/dividend_payments_table_#{@dividend_payments_view_type}", locals: { lic: @lic } %>
<% end %>

<!-- Separator -->
<%= render partial: 'shared/l3_seo_page_separator' %>

<h3>Chart of Dividend History</h3>
  <!-- Filtering the Dividend History Chart -->
  <%= render partial: "shared/chart_dividend_history_form" %>

  <!-- Rendering the Dividend History Chart -->
  <%= turbo_frame_tag "dividend_history" do %>
    <%= render partial: "shared/chart_dividend_history_#{@dividend_history_view_type}" %>
  <% end %>

<!-- Separator -->
<%= render partial: 'shared/l3_seo_page_separator' %>

<h3>Corresponding Dividend Yields</h3>
  <div class="chart-style-template">
    <%= line_chart @lic.chart_dividend_yield, **dividend_yield_chart_styling %>
  </div>

<!-- Back to Lic Show Page Section -->
<%= render partial: 'shared/l3_seo_page_back_section' %>

<!-- SEO Text Section -->
<%= render partial: 'dividend_histories/show_page_seo_text' %>


