<!-- Portfolio Holdings Section Sub-Heading -->
<h3>
    <% if lic.portfolio_holdings_ordering_style(@portfolio_holdings_display_year) == "Weight" %>
        Top <%= lic.portfolio_holdings(@portfolio_holdings_display_year).size %> Holdings at end of FY <%= lic.portfolio_holdings(@portfolio_holdings_display_year).first.year %>
    <% else %>
        Sample of Top Holdings at end of FY <%= lic.portfolio_holdings(@portfolio_holdings_display_year).first.year %> (Alphabetical Order)
    <% end %>
</h3>

<!-- Table Filter -->
<div class="chart-share-price-vs-nta-filter">
    <%= form_tag(url_for(action: 'show', id: @lic.slug), method: "get", id: "chart-filter-options") do %>
        <div class="chart-filter-option">
            <label for="portfolio_holdings_display_year" class="chart-filter-label">Year:</label>
            <%= select_tag 'portfolio_holdings_display_year',
                options_for_select(@portfolio_holdings_display_year_options.each { |year| [year, year] }, @portfolio_holdings_display_year),
                class: "chart-filter-select"
            %>
        </div>
        <%= submit_tag "Update Table", class: "chart-button" %>
    <% end %>
</div>

<!-- Portfolio Holdings Table -->
<div class="portfolio-holdings-table-container ll-scrollbar">
    <table class="portfolio-holdings-table">
        <thead>
            <tr>
                <th></th>
                <th>Holding</th>
                <% if lic.portfolio_holdings_ordering_style(@portfolio_holdings_display_year) == "Weight" %>
                    <th style="text-align: center;">Weight</th>
                <% end %>
                <th>Sector</th>
                <% if @device_type == 'desktop' %>
                    <th>Industry</th>
                    <th>Size</th>
                    <th>HQ</th>
                <% end %>
            <tr>
        </thead>
        <tbody>
            <% lic.portfolio_holdings(@portfolio_holdings_display_year).each_with_index do |holding, i| %>
                <tr>
                    <td><%= i+1 %></td>
                    <td>
                        <% if @device_type == 'mobile' %>
                            <%= truncate(holding.holding_name, length: 25, omission: '') %>
                        <% else %>
                            <%= truncate(holding.holding_name, length: 32, omission: '') %>
                        <% end %>
                    </td>
                    <% if lic.portfolio_holdings_ordering_style(@portfolio_holdings_display_year) == "Weight" %>
                        <td style="text-align: center;"><%= holding.weight%>%</td>
                    <% end %>
                    <td><%= holding.sector %></td>
                    <% if @device_type == 'desktop' %>
                        <td><%= truncate(holding.industry, length: 30, omission: '') %></td>
                        <td><%= holding.size %></td>
                        <td><%= holding.headquartered %></td>
                    <% end %>
                </tr>
            <% end %>
            <% if lic.portfolio_holdings_cash(@portfolio_holdings_display_year) && lic.portfolio_holdings_ordering_style(@portfolio_holdings_display_year) == "Weight" %>
                <tr>
                    <td>-</td>
                    <td>Cash & Cash Equivalents</td>
                    <td style="text-align: center;"><%= lic.portfolio_holdings_cash(@portfolio_holdings_display_year) %>%</td>
                    <td>-</td>
                    <% if @device_type == 'desktop' %>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
        

