<!-- SEO details -->
<% content_for :title do %>
  Annual Reports | <%= @lic.name %> (ASX:<%= @lic.ticker %>)
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated] Historical Annual Reports for <%= @lic.name %> (ASX: <%= @lic.ticker %>).
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Annual Reports
<% end %>


<!-- Page Header -->
<h1>Annual Reports - <%= @lic.name %> (<%= @lic.ticker %>)</h1>