<!-- SEO details -->
<% content_for :title do %>
  Annual Reports | <%= @lic.name %> (ASX:<%= @lic.ticker %>)
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated] Historical Annual Reports for <%= @lic.name %> (ASX: <%= @lic.ticker %>).
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Annual Reports
<% end %>

<!-- Back to Lic Show Page Button -->
<%= render partial: "shared/l3_seo_page_back_button" %>

<!-- Page Header -->
<div class="seo-pages-header">
  <h1><%= @lic.ticker %> - Annual Reports</h1>
</div>
<div class="seo-pages-page-details">
  <p>Historical Annual Reports for <%= @lic.name %> (ASX: <%= @lic.ticker %>)</p>
</div>

<!-- Annual Report Links Rendering -->
<%= render partial: 'annual_reports/annual_report_links' %>

<!-- Back to Lic Show Page Section -->
<%= render partial: 'shared/l3_seo_page_back_section' %>

<!-- SEO Text Section -->
<%= render partial: 'annual_reports/show_page_seo_text' %>