<!-- SEO details -->
<% content_for :title do %>
  Management Fees | <%= @lic.name %> (ASX:<%= @lic.ticker %>)
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated] Management and Performance Fees for <%= @lic.name %> (ASX: <%= @lic.ticker %>). See last 10 years actual Fees amount.
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Management Fees, Performance Fees
<% end %>


<!-- Page Header -->
<h1>Management Fees - <%= @lic.name %> (<%= @lic.ticker %>)</h1>