<!-- SEO details -->
<% content_for :title do %>
  Management Fees | <%= @lic.name %> (ASX:<%= @lic.ticker %>)
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated] Management and Performance Fees for <%= @lic.name %> (ASX: <%= @lic.ticker %>). See last 10 years actual Fees amount.
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Management Fees, Performance Fees
<% end %>

<!-- Back to Lic Show Page Button -->
<%= render partial: "shared/l3_seo_page_back_button" %>

<!-- Page Header -->
<div class="seo-pages-header">
  <h1><%= @lic.ticker %> - Management Fees</h1>
</div>
<div class="seo-pages-page-details">
  <p>Management Fees & Cost information for <%= @lic.name %> (ASX: <%= @lic.ticker %>)</p>
</div>

<h3>Cost Indicator (%)</h3>
  <!-- Filtering the Cost Indicator Chart -->
  <%= render partial: "shared/chart_cost_indicator_form" %>

  <!-- Rendering the Cost Indicator Chart -->
  <%= turbo_frame_tag "cost_indicator" do %>
    <%= render partial: "shared/chart_cost_indicator_#{@cost_indicator_view_type}" %>
  <% end %>

<!-- Separator -->
<%= render partial: 'shared/l3_seo_page_separator' %>

<h3>Actual Costs</h3>
  <!-- Filtering the Costs Incurred Chart -->
  <%= render partial: "shared/chart_costs_incurred_form" %>

  <!-- Rendering the Costs Incurred Chart -->
  <%= turbo_frame_tag "costs_incurred" do %>
    <%= render partial: "shared/chart_costs_incurred_#{@costs_incurred_view_type}" %>
  <% end %>

<!-- Back to Lic Show Page Section -->
<%= render partial: 'shared/l3_seo_page_back_section' %>

<!-- SEO Text Section -->
<%= render partial: 'expenses/show_page_seo_text' %>