<!-- SEO details -->
<% content_for :title do %>
  Management Fees | <%= @lic.name %> (ASX:<%= @lic.ticker %>)
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated] Management and Performance Fees for <%= @lic.name %> (ASX: <%= @lic.ticker %>). See last 10 years actual Fees amount.
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Management Fees, Performance Fees
<% end %>

<!-- Back to Lic Show Page Button -->
<%= render partial: "shared/l3_seo_page_back_button" %>

<!-- Page Header -->
<div class="seo-pages-header">
  <h1><%= @lic.ticker %> - Management Fees</h1>
</div>
<div class="seo-pages-page-details">
  <p>Management Fees & Cost information for <%= @lic.name %> (ASX: <%= @lic.ticker %>)</p>
</div>

<!-- Separator -->
<%= render partial: 'shared/l3_seo_page_separator' %>

<!-- Back to Lic Show Page Section -->
<%= render partial: 'shared/l3_seo_page_back_section' %>