
<div class="performance-index-table-container ll-scrollbar">
  <table class="performance-index-table">
    <thead>
      <tr>
        <th colspan="3" style="border: none; background-color: transparent;"></th>
        <th colspan="4" style="border-left: 1px solid #005454; background-color: #f3eee8;">With Dividends Reinvested</th>
        <th colspan="4" style="border-left: 1px solid #005454; background-color: #f3eee8;">Divs & Franking Reinvested</th>
      </tr>
      <tr>
        <th class="performance-index-table-lic-name-column"  style="border-top: 1px solid #005454;">Name</th>
        <th style="border-top: 1px solid #005454;">Size</th>
        <th style="border-top: 1px solid #005454;">Updated</th>
        <th>1yr</th>
        <th>3yrs</th>
        <th>5yrs</th>
        <th>10yrs</th>
        <th>1yr</th>
        <th>3yrs</th>
        <th>5yrs</th>
        <th>10yrs</th>
      </tr>
    </thead>
    <tbody>
      <% lics.each do |lic| %>
        <tr>
          <td class="performance-index-table-lic-name-column">
            <% if @device_type == 'desktop' %>
              <%= link_to truncate(lic.name, length: 40), "#{listed_investment_company_path(lic)}#performance", class: "performance-index-table-lic-name", target: "_blank" %>
            <% else %>
              <%= link_to truncate(lic.name, length: 30), "#{listed_investment_company_path(lic)}#performance", class: "performance-index-table-lic-name", target: "_blank" %>
            <% end %>
          </td>
          <td class="center">
            <%= format_market_cap(lic.market_cap) %>
          </td>
          <td class="center">
            <%= lic.performance_last_updated.strftime("%b-%y") %>
          </td>
          <% cache [lic, 'performance_index_table_row_cache'] do %>
            <td class="center <%= performance_table_colour_shading(lic.performance_cagr_calculation(1, :cash_amount)) %> performance-index-table-data-column">
              <%= lic.performance_cagr_calculation(1, :cash_amount) %>
            </td>
            <td class="center <%= performance_table_colour_shading(lic.performance_cagr_calculation(3, :cash_amount)) %> performance-index-table-data-column">
              <%= lic.performance_cagr_calculation(3, :cash_amount) %>
            </td>
            <td class="center <%= performance_table_colour_shading(lic.performance_cagr_calculation(5, :cash_amount)) %> performance-index-table-data-column">
              <%= lic.performance_cagr_calculation(5, :cash_amount) %>
            </td>
            <td class="center <%= performance_table_colour_shading(lic.performance_cagr_calculation(9.9, :cash_amount)) %> performance-index-table-data-column">
              <%= lic.performance_cagr_calculation(9.8, :cash_amount) %>
            </td>
            <td class="center <%= performance_table_colour_shading(lic.performance_cagr_calculation(1, :grossed_up_amount)) %> performance-index-table-data-column">
              <%= lic.performance_cagr_calculation(1, :grossed_up_amount) %>
            </td>
            <td class="center <%= performance_table_colour_shading(lic.performance_cagr_calculation(3, :grossed_up_amount)) %> performance-index-table-data-column">
              <%= lic.performance_cagr_calculation(3, :grossed_up_amount) %>
            </td>
            <td class="center <%= performance_table_colour_shading(lic.performance_cagr_calculation(5, :grossed_up_amount)) %> performance-index-table-data-column">
              <%= lic.performance_cagr_calculation(5, :grossed_up_amount) %>
            </td>
            <td class="center <%= performance_table_colour_shading(lic.performance_cagr_calculation(9.9, :grossed_up_amount)) %> performance-index-table-data-column">
              <%= lic.performance_cagr_calculation(9.8, :grossed_up_amount) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


