<!-- SEO details -->
<% content_for :title do %>
  Performance | <%= @lic.name %> (ASX:<%= @lic.ticker %>)
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated] Historical Share Price Performance for <%= @lic.name %> (ASX: <%= @lic.ticker %>). See 1/3/5/10yr Performance, with Dividends and Franking Reinvested.
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Performance
<% end %>

<!-- Back to Lic Show Page Button -->
<%= render partial: "shared/l3_seo_page_back_button" %>

<!-- Page Header -->
<div class="seo-pages-header">
  <h1><%= @lic.ticker %> - Performance</h1>
</div>
<div class="seo-pages-page-details">
  <p>Historical Performance Chart & Information for <%= @lic.name %> (ASX: <%= @lic.ticker %>)</p>
</div>

<h3>Historical Performance</h3>
  <%= turbo_frame_tag "chart_performance" do %>    
    <%= render partial: "shared/chart_performance", locals: { lic: @lic, performance_chart_time_frame_selected: @performance_chart_time_frame_selected } %>
  <% end %>

<!-- Back to Lic Show Page Section -->
<%= render partial: 'shared/l3_seo_page_back_section' %>

<!-- SEO Text Section -->
<%= render partial: 'performances/show_page_seo_text' %>
