<!-- SEO details -->
<% content_for :title do %>
  Portfolio Holdings | <%= @lic.name %> (ASX:<%= @lic.ticker %>)
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated] Current and Historical Portfolio Holdings for <%= @lic.name %> (ASX: <%= @lic.ticker %>). See Top 20 Holdings, plus Cash weighting.
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Portfolio Holdings
<% end %>


<!-- Page Header -->
<h1>Portfolio Holdings - <%= @lic.name %> (<%= @lic.ticker %>)</h1>