<!-- SEO details -->
<% content_for :title do %>
  Portfolio Holdings | <%= @lic.name %> (ASX:<%= @lic.ticker %>)
<% end %>

<% content_for :description do %>
  [<%= Time.now.strftime("%b %Y") %> Updated] Current and Historical Portfolio Holdings for <%= @lic.name %> (ASX: <%= @lic.ticker %>). See Top 20 Holdings, plus Cash weighting.
<% end %>

<% content_for :keywords do %>
  <%= @lic.name %>, <%= @lic.ticker %>, Portfolio Holdings
<% end %>

<!-- Back to Lic Show Page Button -->
<%= render partial: "shared/l3_seo_page_back_button" %>

<!-- Page Header -->
<div class="seo-pages-header">
  <h1><%= @lic.ticker %> - Portfolio Holdings</h1>
</div>
<div class="seo-pages-page-details">
  <p>Portfolio Holdings information for <%= @lic.name %> (ASX: <%= @lic.ticker %>)</p>
</div>

<!-- Portfolio Holdings Table -->
<%= render partial: 'shared/portfolio_holdings_table', locals: { lic: @lic }  %>

<!-- Back to Lic Show Page Section -->
<%= render partial: 'shared/l3_seo_page_back_section' %>

<!-- SEO Text Section -->
<%= render partial: 'portfolio_holdings/show_page_seo_text' %>
