<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <html lang="en">

    <title>Listed Landscape</title>
    <meta name="description" content="Exploring Listed Investment Companies (LICs) based in Australia.">
    <meta name="keywords" content="Listed Landscape, Listed Investment Companies, LICs">
    <link rel="icon" type="image/png" sizes="48x48" href="/listed_landscape_favicon_48x48px.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/listed_landscape_app_touch_icon_180x180px.png">

    <meta property="og:title" content="Listed Landscape">
    <meta property="og:description" content="Exploring Listed Investment Companies (LICs) based in Australia.">
    <meta property="og:image" content="/listed_landscape_preview_1200x630px.png">
    <meta property="og:url" content="https://listedlandscape.com">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
